html {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

#map {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  line-height: 20px;
  background-color: white;
}

.hidden {
  display: none;
}

video {
  width: 320px;
  max-width: 100%;
}
